.background {
  background: linear-gradient(45deg,rgb(32, 135, 226), rgb(32, 200, 226),rgb(30, 220, 160))
  // background-color: rgb(22, 151, 236);
}

.brand {
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.link {
  text-decoration: none;
  color: black;
  line-height: 250%;
}
